<div>
  <div>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Collapsed content</h4>
          <button></button>>
        </div>
      </div>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <a class="btn btn-secondary" href="#" role="button" 
          aria-haspopup="true" aria-expanded="false">
          Lorenzo
        </a>
      <div class="dropdown show" *ngFor="let x of fillerNav">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{x.obj.label}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let a of x.obj.array">{{a}}</a>
        </div>
      </div>
    </nav>

    <mat-nav-list>
      <mat-list-item *ngFor="let link of fillerNav">
         <a matLine href="...">{{ link.obj.label }}</a>
         <button mat-icon-button color="primary">
            <mat-icon>favorite</mat-icon>
         </button>
      </mat-list-item>
    </mat-nav-list>
    <span>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </span>
  </div>
</div>